<h1>{{ title }}</h1>
<table>
    <tr>
        <td>Nuber</td>
        <td>Name</td>
    </tr>
    {{#each ICT}}
        <form method="post">
            <tr>
                <td>{{Number}}</td>
                <td>{{Name}}</td>
                <td style="border: none; margin-left: 10px;">
                    <button
                        style="margin-left: 10px;"
                        name='delBtn'
                        type="submit"
                        value="{{Number}}"
                        formaction="/delete">
                        삭제
                    </button>
                </td>
            </tr>
        </form>
    {{/each}}
</table>