<h1>{{ title }}</h1>
<table>
    <tr>
        <td>Number</td>
        <td>Name</td>
    </tr>
    {{#each ICT}}
        <tr>
            <td>{{Number}}</td>
            <td>{{Name}}</td>
        </tr>
    {{/each}}
</table>